body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  transition: background-color 0.3s ease-in-out;
}

body.light {
  background: linear-gradient(to right top, #6d7b8d, #8d99ae, #a9b6c4, #c7d4dd, #e5f2f7);
}

body.dark {
  background-color: #121212; 
}