
/* --- THÈME LIGHT (PAR DÉFAUT) --- */
:root {
  --background-color: #ffffff;
  --text-color: #213547;
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-background-color: #f9f9f9;
  --button-border-color: #646cff;
}

/* --- THÈME DARK --- */

body.dark {
  --background-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --link-color: #646cff;
  --link-hover-color: #535bf2;
  --button-background-color: #1a1a1a;
  --button-border-color: #646cff;
}


body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  
  color: var(--text-color);
  background-color: var(--background-color);
  
  transition: color 0.25s, background-color 0.25s;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;

  background-color: var(--button-background-color);
  color: inherit; 
}
button:hover {
  border-color: var(--button-border-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}